rules_version = '2';
service cloud.firestore {

  function signedInPackhelpUser() {
    return request.auth.uid != null && request.auth.token.email.matches('.*@packhelp[.]com') == true;
  }

  function isKubudubu() {
    return request.auth.uid != null && request.auth.token.email.matches('j.maciejewski@ideamotive.co') == true;
  }

  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if (signedInPackhelpUser() || isKubudubu());
    }
  }
}
